.login {
  width: 350px;
  border-radius: 20px;
}

.login-body {
  height: 80%;
  width: 90%;
  background-color: #fefefe;
  min-height: 300px;
}

.login-header {
  font-size: 3rem;
}

.login-subheader {
  font-size: 1rem;
}

.login-form {
  margin: 20px 0;
}

.login-form > input,
.login-button {
  margin: 20px;
}

.signup-text {
  width: max-content;
  cursor: pointer;
  font-size: 15px;
  text-decoration: underline;
}
