.login {
  width: 400px;
  border-radius: 20px;
}

.logo {
  display: flex;
  width: 100%;
  height: 4rem;
  align-items: center;
  justify-content: center;
}

.logo-img {
  height: 100%
}

.login-body {
  height: 80%;
  width: 90%;
  background-color: #fefefe;
  min-height: 300px;
}

.login-header {
  font-size: 3rem;
}

.login-subheader {
  font-size: 1rem;
}

.login-form {
  margin: 20px 0;
}

.login-form > input,
.login-button {
  margin: 20px;
}

.signup-text {
  width: max-content;
  cursor: pointer;
  font-size: 15px;
  text-decoration: underline;
}
