.popover {
    position: relative;
    border: none;
    outline: none;
    background-color: none;
    background: none;
    box-shadow: none;
    z-index: 1000 !important;
}
  
.popover-content {
    position: absolute;
    top: -50%; /* Adjust as needed */
    
}

/* 
 * Used to disable the popovers when using SpotifyPlayer
 */
.disabled-popover {
    pointer-events: none;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(216deg) brightness(103%) contrast(103%)
}

.volume, .bass, .treble {
    transform: rotate(270deg);
    width: 80px;
}

.volume-component, .equalizer-component{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.text {
    position: absolute;
    right: 0;
    transform: translateX(0%);
    transform: translateY(40%);
    
}

.description {
    width: 45px;
}

.value {
    width: 90%;
    position: relative;
    transform: translateX(-80%) translateY(40%);
}
.value-text {
    font-size: 12px;
}

.hide-from-screen {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}