.current-song-container {
  width: 500px;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  
}

.current-song-left-side {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  
}
ul {
  padding-left: 1em;
}
li {
  list-style: none;
}

.music-play-buttons {
  display: flex;
  justify-content: space-between;
}

.music-button {
  cursor: pointer;
}

.image-container {
  width: 30%;
  height: 100%;
}

.song-art {
  width: 50%;
  border-radius: .5rem;
  background-color: #dfe0e9;
  padding: .5rem;
}

#range {
  width: 100%;
}

.current-song-right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.current-song-container-light:active{
  background-color: #dfe0e9;
}
.current-song-container-dark:active{
  background-color: #df9710;
}

@media (max-width: 767px) {
  .song-art {
    width: 100%;
  }
}