.login {
  width: 350px;
  border-radius: 20px;
}

.login-light {
  background-color: white;
}

.login-body {
  height: 80%;
  width: 90%;
  background-color: white;
}

.login-header {
  padding: 20px;
}

.login-form {
  margin: 20px 0;
}

.login-form > input,
.login-button {
  margin: 20px;
}

.signup-text {
  width: max-content;
  cursor: pointer;
  font-size: 15px;
  text-decoration: underline;
}
