.col-12 {
    border: 1px dotted red;
}
.container-fluid {
    width: 100vw;
}

.lib-list {
    height: 70%;
    overflow: auto;
    background-color: #e2e3e5;
}
.cur-list {
    height: 80%;
}

.settings-bar, .cur-song-bar {
    height: 15%;
}

.ns-bar {
    height: 10%;
}
.lib-text, .cur-text {
    height: 5%;
}