.popover {
    position: relative;
    border: none;
    outline: none;
    background-color: none;
    background: none;
    box-shadow: none;
    
}
  
.popover-content {
    position: absolute;
    top: -100%; /* Adjust as needed */
    
}

.volume, .bass, .treble {
    transform: rotate(270deg);
    width: 80px;
    

}

.volume-component, .equalizer-component{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.text {
    position: absolute;
    right: 0;
    transform: translateX(0%);
    transform: translateY(40%);
    
}

.description {
    width: 45px;
}

.value {
    width: 90%;
    position: relative;
    transform: translateX(-80%) translateY(40%);
}
.value-text {
    font-size: 12px;
}
